{% extends 'index.html' %}

{% block content %}
{% include "navigation.html" %}


<title>::: About Kenya Prisons Service :::</title>

  


<div id="wrapper">
	
	
	
				
        
	

<section id="content">
		<div class="row">
			<div class="skill-home"> 
				<div class="skill-home-solid clearfix"> 
					<div class="col-md-12 text-center">
						<div class="box-area">
							<h3>ABOUT THIS SYSTEM</h3> 
							<hr class='hrm'>
							<p>
							The primary goal of this system is to computerize the operations, change the manual into automated operations for easier management, speed up operations for record keeping and to help management make better decisions. 
							The interface should make it possible for the integrated system and the users to collect data, automate processes and formulate the work of multiple decisions makers from different levels in the service. 
							The system will ensure that there are no redundancies in records hence checking for data integrity. Inmates records needs also to be secure to ensure that they are well catered for and that their sentence period is accurate. 

							</p>
							<p>
							The Kenya Prisons Service is a Department in the Ministry of Interior and Coordination of National Government. 
							It contributes to public safety and security by ensuring there is safe custody of all persons who are lawfully 
							committed to prison facilities, as well as facilitating the rehabilitation of custodial sentenced offenders for 
							community reintegration. It is a critical component of the Criminal Justice System which has the greatest impact 
							on people’s liberties and freedom, particularly those who are in conflict with the law. The Service became autonomous
							in 1911 and has since then grown progressively to a Department comprising of 118 institutions of which ninety four 
							(115) are for adult offenders whilst three (3) (2 Borstal and 1 YCTC) are primarily for youthful offenders. 
							The Service is empowered to exercise the mandate by Chapters 90 & 92, (Prisons and Borstal Acts), Laws of Kenya. 
							The current prisoners’ population stands at 54,000 of whom 48% are pre-trial detainees whilst the remaining ones 
							are sentenced prisoners. 
							The staff establishment stands at approximately 22,000 comprising of uniformed officers and auxiliary staff. 
							</p>
							<hr>
							<p>
							<h3>Vision</h3>

							
                            A correctional service of excellence in Africa and beyond
							
							</p>	
							<hr>
							<p>
							<h3>Mission</h3>

							To contain offenders in humane safe conditions in order to facilitate responsive administration of Justice, 
							Rehabilitation, Social Integration and community Protection.
							
							</p>
							<hr>
							<p>
							<h3>Motto</h3>

							
                                    Kurekebisha na haki. (Rehabilitation and Justice)
							
							</p>
							<h3>Core Values</h3>


                                Universal Justice, Integrity, Leadership by example, Credibility, Meritocracy, Teamwork, Loyalty and discipline.

							
							</p>
							
						</div>
					</div>
					
					
				</div>
			</div>
		
	</div> 
	

		<footer>
	<div class="">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h5 class="widgetheading">OUR CONTACTS</h5>
					<hr>
					<address>
					<strong>Piddoh Web Developers</strong><br>
							MOI AVENUE STREET <br>
							Next to MKU Building.<br>
					 		P. O. Box 1778 -00100,<br>
							Nairobi.
					</address>
					<p>
						<i class="icon-phone"></i>Tel : +254 722 222 222<br>
						<i class="icon-envelope-alt">Email : pms@gmail.com</i> 
					</p>
				</div>
				
				
			</div>
			
			<div class="col-lg-4">
				<div class="widget">
				
					<h5 class="widgetheading">RELATED LINKS</h5>
					<hr>
					<ul class="link-list">
						<li><a href="http://www.interior.go.ke/" target='_blank'>State Department of Interior</a></li>
						<li><a href="http://www.immigration.go.ke/" target='_blank'>Directorate of Immigration and Registration of Persons</a></li>
						<li><a href="http://www.immigration.go.ke/" target='_blank'>Department of Immigration Services</a></li>
						<li><a href="">National Registration Bureau</a></li>
						<li><a href="#">Department of Refugee Affairs</a></li>
					</ul>
				</div>
				
			</div>
			
	
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script> 
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
<script src="js/owl-carousel/owl.carousel.js"></script>

{%endblock  %}